<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logdir">./log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8">
                <pattern>%d{yyyy-MM-dd HH:mm:ss SSS}|%level|%logger{3}.%M:%L【%X{app-traceId}】 [%t] %msg%ex%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <loggers>
        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.github.gitcat.spring.retryplus" level="DEBUG" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
    </loggers>
</Configuration>
